.conversation/attached_assets/ملاحظات_في_جميع_المشاريع_4_1791197591935.pptx filter=lfs diff=lfs merge=lfs -text
.conversation/attached_assets/ملاحظات_في_جميع_المشاريع_5_1791197579302.pptx filter=lfs diff=lfs merge=lfs -text
